# Local Spring Boot backend run config
SPRINTSTART_AI_BASE_URL=http://host.docker.internal:8000

SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:15432/sprintstart
SPRING_DATASOURCE_USERNAME=sprintstart
SPRING_DATASOURCE_PASSWORD=change-me

# These are example values.
# Generate your own, for example via openssl `openssl rand --hex [length]`
CRYPTO_MASTER_KEY=bac5101bbee25e1c11e16a03fb5b5dda5d74088bfadc68b8cbc522df499d0460=
CRYPTO_SALT=5d1821d2ee2abd307128e3e78d17852e

SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI=http://localhost:8081/realms/sprintstart
SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWK_SET_URI=http://localhost:8081/realms/sprintstart/protocol/openid-connect/certs

SPRINTSTART_KEYCLOAK_SHARED_SECRET=change-me
